.Blog header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog header li {
    display: inline-block;
    margin: 20px;
}

.Blog header a {
    text-decoration: none;
    color: black;
}

.Blog header a:hover,
.Blog header a:active,
.Blog header a.active {
    color: #fa923f;
}